/* critical path css */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background: linear-gradient(to right, rgba(86, 204, 242, 0.8), rgba(47, 128, 237, 0.8)), url('https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* background: linear-gradient(to right, rgba(86, 204, 242, 0.8), rgba(47, 128, 237, 0.8)), url('img/hero-bg1.jpeg'); */
    background-size: cover;
    background-position: center left;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 1.5rem;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.main-nav__links {
    padding: 0 1.2rem;
}




.main-nav__links:last-of-type {
    padding-right: 0;
}

.main-nav__links a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.main-nav__links a:hover {

    color: #BCD4F0;

}

/* main heading */
.main-heading {
    display: flex;
    flex-direction: column;
    color: #F9F8F5;
    position: absolute;
    top: 30%;
    width: 50vw;
    transform: translateX(33.5%);

}

.main-heading h1 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1em;
}

/* .main-heading p {
    margin-top: -.85rem;
} */

/* btn */
.btn {
    text-decoration: none;

    width: 35%;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #2F80ED;
    color: #fff;
    margin-top: .9rem;
    padding: 0.7rem 0.3rem;
    border-radius: 7px;
    box-shadow: 0 3px #1CB5E0;
    text-align: center;

}

.btn:hover {

    top: 2px;

}




/*  end of critical path css */